<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="main">
    <br><br><br><br><br>
    <h2>Task 1</h2>
    <p v-if="display" @click="swap">{{defaultText}}</p>
    <input v-if="!display" type="text" v-model="defaultText"><button v-if="!display" @click="swap">Сохранить</button>

    <br>
    <h2>Task 2</h2>
    <input type="text" v-model="titleSearch" placeholder="Поиск по заголовкам">
    <template v-for="post in posts" :key="post.id">
        <div v-if="post.title.includes(titleSearch)">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </div>
    </template>
    <script src="main.js"></script>
</body>
</html>